* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    font-family: "Poppins", sans-serif;
}

.cabecalho-imagem {
    width: 20%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem {
    width: 15%;
}

.escola {
    background-image: linear-gradient(#818586, #D8D9DD);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    font-family: "Poppins", sans-serif;
}

.escola-div-conteudo {
    width: 35%;
    text-align: center;
}

.escola-titulo {
    padding: 24px 0;
    font-size: 35px;
    text-align: center;
}